:root {
  --primaryColor: #fff;
  --secondaryColor: #333;
  --trueBlue: #0072C6;
  --gray: #808080;
}

body {
  background: #F2F2F2;
}
body * {
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
}
body h1 {
  font-weight: 900;
  font-size: 1.5em;
  margin: 0.2rem 0;
}
body h2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  padding-bottom: 0.5rem;
  border: solid 0 var(--trueBlue);
  border-bottom-width: 2px;
}
body h3 {
  margin: 0 0 0.5rem 0;
  border: solid 0 var(--trueBlue);
  border-left-width: 3px;
  padding-left: 0.5rem;
}
body h4, body b, body span {
  margin: 0.1rem 0;
}
body i {
  font-size: 1.2rem !important;
}
body h1, body h2, body h3 {
  color: var(--trueBlue);
}
body nav {
  --icon-size: 1rem;
  position: relative;
  padding-left: var(--icon-size);
  margin-top: 0.3rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--trueBlue);
}
body nav > :nth-child(1) {
  padding-top: 0.25rem;
}
body nav::before {
  content: "Liens utiles : ";
  display: block;
  font-family: inherit;
  margin-left: 0.4rem;
}
body nav::after {
  content: "\f6ff";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-size: calc(var(--icon-size) * 0.9);
  font-weight: 900;
}
body a {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  font-weight: 700;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}
body a::before {
  content: "\f35d";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--trueBlue);
  margin-right: 0.2rem;
  font-size: inherit;
}
body a::after {
  content: "(" attr(href) ")";
  display: block;
  margin-left: 0.4rem;
  color: var(--gray);
  font-weight: 400;
  font-size: 95%;
  text-decoration: none;
  border-bottom: solid 1px var(--gray);
}
body b {
  font-weight: 700;
  color: black;
}
body small {
  display: flex;
  font-size: 0.8rem;
  color: var(--trueBlue);
  margin: 0.1rem 0 0.5rem 0;
}
body small::before {
  display: block;
  content: "Stack technique :";
  margin-right: 0.2rem;
}
body [skillId]::before {
  content: attr(skillId);
  display: flex;
  width: 0.4rem;
  height: 0.4rem;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 0.65rem;
  font-weight: bold;
  margin: 0 0.1rem;
  border: dotted 2px var(--trueBlue);
  color: var(--trueBlue);
  border-radius: 100%;
  padding: 0.3rem;
}
body main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
body main .resume-wrapper {
  display: flex;
  flex-direction: row;
  width: 210mm;
  height: 297mm;
  padding: 10mm;
  background: var(--primaryColor);
}
body main .resume-wrapper .resume-left, body main .resume-wrapper .resume-right {
  display: flex;
  flex-direction: column;
}
body main .resume-wrapper .resume-left {
  flex: 2;
  margin-right: 0.3rem;
  overflow: hidden;
}
body main .resume-wrapper .resume-left > section {
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.8rem 0;
}
body main .resume-wrapper .resume-left > section:nth-of-type(1) {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
body main .resume-wrapper .resume-left > section:nth-of-type(1) > span {
  color: black;
  font-size: 0.9rem;
}
body main .resume-wrapper .resume-left > section > div, body main .resume-wrapper .resume-left > section section {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}
body main .resume-wrapper .resume-left > section > div:last-of-type, body main .resume-wrapper .resume-left > section section:last-of-type {
  margin-bottom: 0;
}
body main .resume-wrapper .resume-left > section > section {
  padding: 0.2rem 0;
  margin-bottom: 0;
}
body main .resume-wrapper .resume-left > section:not(:nth-of-type(1), :last-of-type), body main .resume-wrapper .resume-left > section > section:not(:last-of-type) {
  border-bottom: dashed 1px var(--gray);
}
body main .resume-wrapper .resume-left > section > *:not(h3) {
  margin-left: 1rem;
}
body main .resume-wrapper .resume-left > section span {
  font-size: 0.85rem;
  color: var(--gray);
}
body main .resume-wrapper .resume-left > section h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
body main .resume-wrapper .resume-left > section h4 {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
}
body main .resume-wrapper .resume-left > section h4 [skillId]:first-of-type {
  margin-left: 0.2rem;
}
body main .resume-wrapper .resume-left > section p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.2rem 0.2rem 0.5rem 0;
}
body main .resume-wrapper .resume-left > section ul {
  margin: 0;
}
body main .resume-wrapper .resume-left > section ul li {
  font-weight: 400;
  padding: 0.1rem 0;
  font-size: 0.9rem;
}
body main .resume-wrapper .resume-right {
  flex: 1;
  justify-content: space-between;
  border-left: solid 2px var(--secondaryColor);
  padding: 0 0 0 0.5rem;
  overflow: hidden;
}
body main .resume-wrapper .resume-right > section {
  display: flex;
  flex-direction: column;
}
body main .resume-wrapper .resume-right > section:nth-of-type(1) {
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
body main .resume-wrapper .resume-right > section:nth-of-type(1) span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem 0;
  font-weight: 700;
}
body main .resume-wrapper .resume-right > section:nth-of-type(1) span i {
  margin-right: 0.5rem;
  color: var(--trueBlue);
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) {
  justify-content: space-between;
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:not(body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:last-of-type) {
  margin-bottom: 0.7rem;
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:not(body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:first-of-type) ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:not(body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:first-of-type) ul li {
  display: flex;
  padding: 0.25rem 0.5rem;
  margin: 0.15rem 0.2rem;
  font-weight: 700;
  font-size: 0.9rem;
  background: var(--trueBlue);
  border-radius: 10mm;
  color: white;
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:first-of-type {
  margin-bottom: 0.3rem;
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:first-of-type ul {
  padding: 0;
  margin-bottom: 0;
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:first-of-type ul > li {
  display: flex;
  margin: 0.2rem 0;
}
body main .resume-wrapper .resume-right > section:nth-of-type(2) > div:first-of-type ul > li::before {
  margin-right: 0.2rem;
}
body main .resume-wrapper .resume-right > section:nth-of-type(3) {
  justify-content: flex-end;
}
body main .resume-wrapper .resume-right > section:nth-of-type(3) img {
  width: auto;
  height: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .resume-wrapper .resume-right > section:nth-of-type(3) a {
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
body main .resume-wrapper .resume-right > section:nth-of-type(3) a::before {
  display: none;
}
body main .resume-wrapper .resume-right > section:nth-of-type(3) a::after {
  margin-left: 0;
}
body main .resume-wrapper .resume-right > section h3 {
  color: black;
  font-weight: 700;
  border-color: var(--trueBlue);
}/*# sourceMappingURL=styles.css.map */